.delivery-method-trigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.delivery-method-trigger__content {
  display: flex;
  flex-direction: column;
}

.delivery-method-trigger__title {
  color: #232D34;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0px;
  margin: 0 0 0.125rem;
}

.delivery-method-trigger__address {
  color: #232D34;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0px;
  margin: 0 0 0.5rem;
  max-width: 10.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delivery-method-trigger__button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: #0A8920;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
  padding: 0;
  width: auto;
}
